body {
    color: #333333;
}

header {
    text-align: center;

}

header p {
    background-color: #FDFBF1;
    color: #004D4C;
    border-top: 2px solid #FFD877;
    padding: 1rem;

}

header img {
    width: 14%;
    margin: auto;
}

main {
    width: 35%;
    margin: auto;
}


main img {
    border-radius: 1rem;
    box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.55);
    width: 100%;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.descrizione-immagine {
    text-align: center;
    color: silver;
}

.featured {
    border-left: 2px solid #FFD877;
    padding-left: 10px;
}

.featured p {
    margin: 0px;
    color: #B5460F;
}

.ingredients h2,
.method h2 {
    border-bottom: 1px solid #107777;
    padding-block: 1rem;

}
.ingredients p{
    font-weight: bolder;
}

a {
    color: #107777;
}

.method li {
    font-weight: bold;
}

ul>li {
    padding-bottom: 15px;
}

p {}